{% load i18n %}
{% trans "I'm in!" as imin %}
<html>
	<head>
		<link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css" />
		<style>
			#deed_jumbo{
			background:azure;
			background-size:contain;
			overflow:auto;
		}
		
		#deed_img{
			float:left;
			margin-right:40px;
		}
		</style>
	</head>
	<body>
		
		
		<div class="container">
			
			{% include "index/menu.html" %}
			
		<div class="jumbotron img-rounded" id="deed_jumbo">				
				<div>
					<img id="deed_img" src="{{ STATIC_URL }}img/deeds/{{deed.image}}" height=400px;/>
					<h2>{{ deed.name }}</h2>
					<p>{{ deed.description }}</p>
					<p><a class="btn btn-primary btn-lg" role="button" href="/deedaday/deeds/{{deed.id}}">{{imin}}</a></p>
				</div>
			</div>
			</div>
	</body>
</html>
