.hover_shine:hover{
	 box-shadow: 0px 0px 20px #98C8F2;
}

a {
color:#3FA3DE;

}

a:hover{
	text-decoration:none;
	color: #5FC3FE;
}

#main_menu{
	background: #D7EBF7;
}

#main_menu div{
	color:white;
}

#main_menu a{
	color:white;
}

.jumbotron{
background:#3FA3DE;
box-shadow: 0px 0px 13px #D7EBF7;
color:#D7EBF7;
}

body{
color:#1B455E
}
