{% if deeds_list %}
   <div class="row"><center>
			{% for deed in deeds_list %}
			{% for deed in deeds_list %}
			<div style="display:inline-block; margin:{% cycle '10px' '5px' '15px' '6px' '17px' '4px' %}; padding:{% cycle '10px' '50px' '15px' '6px' '17px' '40px' %};">
				<a href="{% url 'Deed detail' deed.id %}">
				<img src={{ MEDIA_URL }}{{deed.image}} class="img-circle img-responsive hover_shine" style="height:{% cycle '200px' '150px' '210px' '170px' %}"/>
				<h3>{{ deed.name }}</h3>
				</a>
			</div>
			{% endfor %}
			{% endfor %}
		</center></div>
{% else %}
    <p>No deeds are available.</p>
{% endif %}
