{% load i18n %}
{% trans "Today's Deed:" as today %}
{% trans "I'm in!" as imin %}
<html>
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
	<style>
		#random_deed_jumbo{
			background:azure url({{MEDIA_URL}}{{random_deed.image}}) top left no-repeat;
			background-size:contain;
		}
	</style>
</head>
<body>
	<div class="container">
	
	{% include "index/menu.html" %}
	
	<div class="row">
		<div id="random_deed">
			<div class="jumbotron img-rounded" id="random_deed_jumbo">
				
				<div style="text-align:right">
				<h2>{{today}}</h2>
				<h1>{{ random_deed.name }}</h1>
				<p><a class="btn btn-primary btn-lg" role="button" href="/deedaday/deeds/{{random_deed.id}}">{{imin}}</a></p>
				</div>
			</div>
		</div>
		<div id="deeds">
			
			{% include "deeds/list.html" %}
	</div>
</body>
</div>
</html>
