{% load i18n %}
{% trans "Deeds done" as deeds_num %}
{% trans "Favorite deeds" as favorite_deeds %}
{% trans "No deeds so far!" as no_deeds %}
{% trans "pledged to" as pledged_to %}
<html>
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css" />
	<style>
		#random_deed_jumbo{
			background:azure url({{MEDIA_URL}}{{user.image}}) top left no-repeat;
			background-size:contain;
		}
		
		.row{
			font-size:large;
			padding:10px;
		}
		
		.pic_col img{
			max-height:60px;
		}
	</style>
</head>

<body>
<div class="container">
	{% include "index/menu.html" %}	
<div class="row">
		<div id="user_stat">
			<div class="jumbotron img-rounded" id="user_stat_jumbo">
				
				<div style="text-align:right">
				<h1>{{ user_name }}</h1>
				<h2>{{ deeds_num }}: <large>{{user_deeds_num}}</large></h2>
				
				<h3>{{favorite_deeds}}:</h3>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-6 " id="user_deeds">
		{% if user_deeds %}
		{% for deed in user_deeds %}
		<div class="row">
			<div class="col-md-2 pic_col">
				<a href="{% url 'Deed detail' deed.id %}">
				<img src={{ MEDIA_URL }}{{deed.image}} class="img-circle img-responsive hover_shine"/>
				</a>
			</div>
			
			<a href="{% url 'Deed detail' deed.id %}">
			<div class="col-md-8">{{deed.name}}</div>
			</a>
			
			<div class="col-md-2">2</div>
		</div>
		{% endfor %}
		{% else %}
		<center>{{no_deeds}}</center>
		{% endif %}
	</div>
	
	
	<div class="col-md-6">
		{% if friends_pledge %}
		{% for pledge in friends_pledge %}
		<div class="row">
			{{pledge.user}} {{pledged_to}}
			{{ pledge.deed }}
		</div>
		{% endfor %}
		{% endif %}

	</div>
</div>

</div>
</body>
</html>
