{% load i18n %}
{% trans "Donate" as donate %}
{% trans "Settings" as settings %}
{% trans "Me" as me %}
{% trans "Deed a day" as head %}

<div class="header" id="top_menu">
		<ul class="nav nav-pills pull-right">
			<li><a href="#"><span class="glyphicon glyphicon-usd"></span> {{ donate }}</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-cog"></span> {{ settings }}</a></li>
			<li><a href="/deedaday/user/1"><span class="glyphicon glyphicon-user"></span> {{ me }}</a></li>
		</ul>
		
		<h2><a href="/deedaday/">{{head}}</a></h2>	
		<hr/>
	</div>
